body {
  background: #1b1b1b;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: lighter;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Layout
 * -------------------------------------------------------------------------- */

.container {
  box-sizing: border-box;
  margin: 100px auto;
  max-width: 980px;
  min-height: 600px;
  padding: 0 40px;
  position: relative;
  width: 100%;
}

  .container .loader {
    left: 50%;
    margin: -50px 0 0 -70px;
    top: 50%;
  }

.page-header {
  margin-bottom: 40px;
  text-align: center;
}

  .page-header .title {
    color: white;
  }

/* Photos
 * -------------------------------------------------------------------------- */

.photos-wrapper {}

  .photos-wrapper header {
    margin-bottom: 20px;
  }

  .photos-wrapper footer {
    margin-top: 20px;
    text-align: center;
  }

  .photos-wrapper .album-title {
    color: #777;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
  }

  .photos-wrapper .load-more {
    background: none;
    border: 1px solid #DC3522;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1em;
    padding: 10px 15px;
  }

    .photos-wrapper .load-more[disabled] {
      border-color: #666;
      color: #666;
    }

.thumbnails {
  text-align: center;
}

  .thumbnails .thumbnail {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 140px;
    margin: 5px;
    width: 140px;
  }

.thumbnails-full {
  display: none;
}

  .thumbnails-full .photo {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: block;
    height: 280px;
    margin: 0 auto 10px;
    width: 280px;
  }

/* Lightbox
 * -------------------------------------------------------------------------- */

.lightbox {
  background: white;
  box-shadow: 10px 10px 50px black;
  left: 50%;
  margin: -360px 0 0 -340px;
  padding: 20px;
  position: fixed;
  top: 50%;
  width: 640px;
  z-index: 2;
}

  .lightbox .photo {
    width: 100%;
  }

  .lightbox .title-wrapper {
    margin: 10px 0;
    max-height: 60px;
    overflow: auto;
  }

  .lightbox .title {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }

  .lightbox .detail {
    color: #999;
    font-size: 12px;
  }

  .lightbox .prev,
  .lightbox .next {
    background: #DC3522;
    border: none;
    border-radius: 4px;
    color: white;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    position: absolute;
    top: 300px;
    width: 40px;
  }

  .lightbox .prev {
    left: -60px;
  }

  .lightbox .next {
    right: -60px;
  }

.lightbox-shadow {
  background: black;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

/* Loader
 * http://projects.lukehaas.me/css-loaders/
 * -------------------------------------------------------------------------- */

.loader {
  animation: load8 1.1s infinite linear;
  -webkit-animation: load8 1.1s infinite linear;
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid white;
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  font-size: 10px;
  margin: 60px auto;
  position: absolute;
  text-indent: -9999em;
  transform: translateZ(0);
}

.loader,
.loader:after {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Fade
 * -------------------------------------------------------------------------- */

.fadeIn {
  animation: fadein 0.25s;
  -webkit-animation: fadein 0.25s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Misc
 * -------------------------------------------------------------------------- */

.hide {
  display: none;
}

/* Responsive
 * -------------------------------------------------------------------------- */

@media (max-width: 800px) {

  .lightbox {
    margin-left: -220px;
    width: 400px;
  }

    .lightbox .next,
    .lightbox .prev {
      bottom: -60px;
      height: 40px;
      line-height: 40px;
      top: auto;
      width: 45%;
    }

    .lightbox .next {
      right: 0;
    }

    .lightbox .prev {
      left: 0;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

  body {
    font-size: 1em;
  }

  .container {
    margin-top: 50px;
    padding: 10px;
  }

  .page-header {}

    .page-header img {
      width: 40px;
    }

  .photos-wrapper {}

    .photos-wrapper .album-title {
      margin-bottom: 40px;
    }

    .photos-wrapper .load-more {
      margin-top: 40px;
    }

  .thumbnails {
    display: none;
  }

  .thumbnails-full {
    display: block;
  }

  .lightbox,
  .lightbox-shadow {
    display: none;
  }

}
